.superBanner, header {
    flex-direction: column;
    display: flex
}

*, .superBanner h1 {
    color: var(--gray-dark)
}

.div2_left, .div2_left p, .inversionSegura, .superBanner {
    text-align: center
}

.div1, .div2, .div2_left, .div2_right, .inversionSegura, .superBanner, header, nav {
    display: flex
}

.menuppal ul li, nav, span {
    font-weight: 700
}

*, .menuppal ul li a {
    text-decoration: none
}

:root {
    --gray-dark: #3F3F3F;
    --gray-clear: #C0C0C0;
    --green-dark: #428981;
    --green-clear: #48CFCB;
    --white-dark: #F7F7F7;
    --blue-sky: #0099CF
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none
}

html {
    scroll-behavior: smooth
}

body {
    font-family: Montserrat, sans-serif
}

.setVisible {
    opacity: 0;
    transform: scale(.9);
    transition: .7s ease-in-out
}

.offVisible {
    opacity: 1;
    transform: scale(1)
}

.buttonGreenClear {
    font-size: 1.3rem;
    padding: .6rem 1.6rem;
    border-radius: 1rem;
    background-color: var(--green-clear)
}

.buttonGreenClear:hover, .iconHover:hover {
    animation: 1.2s forwards myAnim
}

header {
    min-height: 100vh;
    width: 100%;
    position: relative
}

.logoHeader {
    top: 1vh;
    left: 75vw;
    position: absolute
}

.imagenCabezera {
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.superBanner {
    width: 45vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 5rem;
    top: 5rem;
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .3));
    border-radius: 2rem;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, .71);
    z-index: 2;
    backdrop-filter: blur(0.1rem);
    padding: 1.2rem;
    clip-path: polygon(0 0, 88% 0, 100% 16%, 100% 100%, 0 100%, 0% 50%);
    border-bottom: 13px solid #fcaf4a
}

.contactos, .div16 {
    position: relative
}

.superBanner_titulo {
    display: flex;
    flex-direction: column;
    align-items: center
}

.superBanner_parrafo {
    background: linear-gradient(220.55deg, #c5edf5 0, #4a879a 100%);
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 2rem
}

.superBanner h1 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: clamp(2rem, -.875rem + 8.333vw, 4.5rem);
    line-height: 104px;
    letter-spacing: -.09em;
    word-spacing: 1rem
}

.contactos h3, .div2_left p {
    font-style: normal;
    font-weight: 400
}

.superBanner_parrafo p {
    font-size: 1.8rem
}

.superBanner_parrafo h3 {
    color: var(--white-dark) !important;
    font-size: clamp(1rem, -.875rem + 8.333vw, 3.5rem)
}

.div2_left p, .inversionSegura p, span {
    color: var(--gray-dark)
}

picture img {
    min-height: 100%;
    width: 100%
}

.div1 {
    padding: 1.5rem;
    background-color: var(--white-dark);
    align-items: center;
    justify-content: center
}

.myBox {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255, 249, 34), rgba(255, 0, 128), rgba(56, 2, 155, 0));
    border-image-slice: 1;
    width: 35%
}

.div2 {
    flex: 4;
    margin-top: 10rem;
    padding: 2rem
}

.div2_left {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem
}

.div2_right {
    align-items: center;
    justify-content: center;
    flex: 1
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--green-dark)
}

.div2_left p {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -.015em
}

.inversionSegura {
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem
}

h2 {
    color: var(--blue-sky) !important;
    font-size: 2rem
}

.inversionSegura h2 {
    margin-bottom: 2.5rem;
    font-size: clamp(1rem, -.875rem + 8.333vw, 3rem)
}

.inve_cont_p {
    padding: 4rem
}

.inversionSegura p {
    margin-bottom: .5rem;
    font-size: clamp(1rem, -.875rem + 8.333vw, 1.8rem);
    text-align: justify
}

header button {
    margin-top: 8rem
}

nav {
    justify-content: space-around;
    width: 60%;
    font-size: 1.2rem;
    opacity: 50%
}

a:hover {
    color: var(--green-dark)
}

.containerhamburuesa {
    display: none
}

.contactos, .containerIcon, .div15, .div16, .div16_1 {
    display: flex
}

.contactos {
    min-height: 95vh;
    background-color: var(--gray-dark);
    overflow: hidden
}

.div15 {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.containerIcon {
    justify-content: space-between;
    margin: 2rem
}

.contactos h3, p {
    color: var(--white-dark);
    text-align: center
}

.contactos h3 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(1rem, -.875rem + 8.333vw, 3.5rem);
    text-align: center
}

.div15 h3 {
    margin-bottom: 1rem;
    font-size: 2rem
}

hr {
    opacity: 15%
}

.div16 {
    flex: 1;
    flex-direction: column;
    align-items: center
}

.div16_1 {
    flex: 1;
    align-items: center;
    z-index: 10
}

.div16_2 {
    flex: 2;
    z-index: 5
}

.VectorLogo {
    position: absolute;
    left: 20rem;
    top: 5rem
}

.contactosCreateBy {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    min-height: 20vh;
    width: 100%;
    margin-top: 29rem;
    opacity: 50%;
    top: -9rem
}

.visible10, .visible11, .visible9 {
    height: 50px;
    filter: invert(100%);
    margin: 1rem
}

.visible9 {
    width: 50px;
    background: url(/img/css_sprites.png) -10px -10px
}

.visible10 {
    width: 50px;
    background: url(/img/css_sprites.png) -80px -10px
}

.visible11 {
    width: 33px;
    background: url(/img//css_sprites.png) -10px -80px
}

@media screen and (min-width:320px) and (max-width:767px) {
    header, header button {
        margin-top: 3rem
    }

    h2 {
        font-size: 1.5rem;
        color: var(--blue-sky) !important
    }

    .superBanner {
        width: 100vw;
        left: 0;
        top: 0;
        padding: 1rem .2rem 1.5rem;
        clip-path: 0
    }

    .superBanner_parrafo {
        padding: .2rem .8rem;
        width: 100%;
        border-radius: 1rem
    }

    .imagenCabezera {
        min-height: 50vh;
        padding: .8rem
    }

    .iconoSoyunaWeb, .logoHeader, .nav1 {
        display: none
    }

    picture img {
        min-height: 80%;
        width: 100%
    }

    .div2 {
        flex-direction: column;
        margin-top: 0
    }

    .containerhamburuesa {
        display: block
    }

    .div2_left p {
        font-size: 1.2rem;
        line-height: 25px;
        text-align: center;
        letter-spacing: -.015em
    }

    .div2_right img {
        width: 80vw;
        height: 30vh
    }

    .inversionSegura {
        text-align: justify
    }

    .inversionSegura h2 {
        margin-bottom: 0
    }

    .inve_cont_p {
        padding: .5rem
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem
    }

    .contactos {
        min-height: 100vh;
        display: flex;
        flex-direction: column
    }

    .div16 {
        justify-content: flex-start
    }

    .div16_1 {
        align-items: flex-start
    }

    .containerIcon {
        margin: .5rem
    }

    .contactosCreateBy {
        padding: 1rem;
        min-height: 40vh;
        width: 100%;
        margin-top: 19rem;
        z-index: 1000;
        top: 0
    }

    .contactosCreateBy p {
        font-size: .7rem
    }

    .VectorLogo {
        left: 10rem;
        top: -8rem
    }
}

@media (min-width:1199.98px) {
    .contactosCreateBy {
        min-height: 40vh;
        margin-top: 30rem
    }

    .VectorLogo {
        left: 25rem;
        top: 25rem
    }

    .div16_1 {
        align-items: flex-end
    }
}

.hamburger {
    position: fixed;
    left: 40vw;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .25s cubic-bezier(.05, 1.04, .72, .98);
    transition: transform .25s cubic-bezier(.05, 1.04, .72, .98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hamburger.is-active {
    background-color: none
}

._layer {
    background: #333;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: .25s cubic-bezier(.05, 1.04, .72, .98);
    transition: .25s cubic-bezier(.05, 1.04, .72, .98)
}

.hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important
}

.hamburger.is-active .-mid {
    opacity: 0
}

.hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important
}

.menuppal.is_active {
    transform: translate3d(0, 0, 0)
}

.menuppal {
    background-color: var(--white-dark);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 3rem;
    transform: translate3d(0, -100%, 0);
    transition: transform .35s cubic-bezier(.05, 1.04, .72, .98);
    width: 100%;
    z-index: 1001;
    opacity: 80% !important
}

.menuppal ul {
    margin: 0;
    padding: 0
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #369;
    text-transform: none
}

.menuppal ul li a {
    color: #369
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #333
}

@keyframes myAnim {
    0%, 100% {
        transform: scale3d(1, 1, 1)
    }

    30% {
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        transform: scale3d(1.05, .95, 1)
    }
}